<div id="mainnav">
    <div id="mainnav-menu-wrap">
        <div class="nano">
            <div class="nano-content">
                <div id="mainnav-shortcut">
                    <ul class="list-unstyled shortcut-wrap">
                        <li class="col-xs-3" data-content="My Profile">
                            <a class="shortcut-grid" href="javascript:;">
                                <div class="icon-wrap icon-wrap-sm icon-circle bg-mint">
                                    <i class="demo-pli-male"></i>
                                </div>
                            </a>
                        </li>
                        <li class="col-xs-3" data-content="Messages">
                            <a class="shortcut-grid" href="javascript:;">
                                <div class="icon-wrap icon-wrap-sm icon-circle bg-warning">
                                    <i class="demo-pli-speech-bubble-3"></i>
                                </div>
                            </a>
                        </li>
                        <li class="col-xs-3" data-content="Activity">
                            <a class="shortcut-grid" href="javascript:;">
                                <div class="icon-wrap icon-wrap-sm icon-circle bg-success">
                                    <i class="demo-pli-thunder"></i>
                                </div>
                            </a>
                        </li>
                        <li class="col-xs-3" data-content="Lock Screen">
                            <a class="shortcut-grid" href="javascript:;">
                                <div class="icon-wrap icon-wrap-sm icon-circle bg-purple">
                                    <i class="demo-pli-lock-2"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <ul id="mainnav-menu" class="list-group">
                    <li class="list-header">管理菜单</li>

                    <li class="active-sub">
                        <a href="javascript:;" routerLink="/">
                            <i class="demo-pli-home"></i>
                            <span class="menu-title">我的首页</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="demo-pli-split-vertical-2"></i>
                            <span class="menu-title">矿机项目</span>
                            <i class="arrow"></i>
                        </a>
                        <ul class="collapse">
                            <li>
                                <a href="javascript:;" routerLink="/projectList">售卖项目</a>
                            </li>
                            <li>
                                <a href="javascript:;" routerLink="/projectProfitHistory">项目历史效益</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <i class="demo-pli-split-vertical-2"></i>
                            <span class="menu-title">财务收支</span>
                            <i class="arrow"></i>
                        </a>
                        <ul class="collapse">
                            <li>
                                <a href="javascript:;" routerLink="/dayProfit">每日收益</a>
                            </li>
                            <li>
                                <a href="javascript:;" routerLink="/withdrawOrder">提现记录</a>
                            </li>
                            <li>
                                <a href="javascript:;" routerLink="/dayElectricCost">电费记录</a>
                            </li>
                            <li>
                                <a href="javascript:;" routerLink="/dayAdminCost">管理费记录</a>
                            </li>
                            <li>
                                <a href="javascript:;" routerLink="/electricDeposit">电费押金</a>
                            </li>
                            <li>
                                <a href="javascript:;" routerLink="/incomeCost">收支详情</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <i class="demo-pli-split-vertical-2"></i>
                            <span class="menu-title">账户设置</span>
                            <i class="arrow"></i>
                        </a>
                        <ul class="collapse">
                            <li>
                                <a href="javascript:;" routerLink="/paySetting">付款管理</a>
                            </li>
                            <li>
                                <a href="javascript:;" routerLink="/userInfo">信息设置</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <i class="demo-pli-split-vertical-2"></i>
                            <span class="menu-title">我的</span>
                            <i class="arrow"></i>
                        </a>
                        <ul class="collapse">
                            <li>
                                <a href="javascript:;" routerLink="/account">我的账户</a>
                            </li>
                            <li>
                                <a href="javascript:;" routerLink="/workerOrder">我的订单</a>
                            </li>
                            <li>
                                <a href="javascript:;" routerLink="/couponList">我的优惠券</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-divider"></li>
                </ul>
            </div>
        </div>
    </div>
</div>