<!-- <div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">我的首页</h1>
    </div>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;">
                <i class="demo-pli-home"></i>
            </a>
        </li>
        <li class="active">我的首页</li>
    </ol>
</div> -->

<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">电费押金</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row-col box-color text-center ">
                            <div class="row-cell p-a">
                                总额
                                <h4 class="m-a-0 text-md _600">
                                    <a href="">743.00 元</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="box p-a">
                    <div class="pull-left m-r">
                        <span class="w-48 rounded  accent">
                            G
                        </span>
                    </div>
                    <div class="clear">
                        <h4 class="m-a-0 text-lg _300">
                            <a href="">
                                <span class="text-sm" style="font-size: 14px;">批次G电费押金 743.00 元</span>
                            </a>

                        </h4>
                        <small class="text-muted">缴费日期 2018-02-02
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>