<!-- <div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">我的首页</h1>
    </div>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;">
                <i class="demo-pli-home"></i>
            </a>
        </li>
        <li class="active">我的首页</li>
    </ol>
</div> -->

<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">账户金额</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row-col box-color text-center ">
                            <div class="row-cell p-a">
                                RMB
                                <h4 class="m-a-0 text-md _600">
                                    <a href="">0.00</a>
                                </h4>
                            </div>
                            <div class="row-cell p-a">
                                BTC
                                <h4 class="m-a-0 text-md _600">
                                    <a href="">0.08161679</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">购买批次</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>批次</th>
                                    <th>型号</th>
                                    <th>台数</th>
                                    <th>成本</th>
                                    <th>收益</th>
                                    <th>回本比例</th>
                                </tr>
                            </thead>
                            <tbody id="projectTable">
                                <tr>
                                    <td>G</td>
                                    <td>S9</td>
                                    <td>1</td>
                                    <td>9000.00</td>
                                    <td>16256.91</td>
                                    <td>
                                        <div class="progress m-y-0">
                                            <div class="progress-bar success" style="width: 100%">180%</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>