<!-- <div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">我的首页</h1>
    </div>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;">
                <i class="demo-pli-home"></i>
            </a>
        </li>
        <li class="active">我的首页</li>
    </ol>
</div> -->

<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div style="width:230px;float:left;">
                            <el-date-picker></el-date-picker>
                        </div>
                        <div style="width:30px;float:left;padding-top: 10px;">
                            至
                        </div>

                        <div style="width:230px;float:left;">
                            <el-date-picker></el-date-picker>
                        </div>
                        <div style="width:230px;float:left;">
                            <button type="button" class="btn white">查找</button>
                            <button type="button" class="btn white">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <ul class="list-group inset m-a-0" id="listBox">
                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-22 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00036356btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-21 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00035767btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-20 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00037039btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-19 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00037003btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-18 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00037893btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-17 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00036623btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-16 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00036017btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-15 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00035351btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-14 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00035340btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-13 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00036226btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-12 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00036479btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-11 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00033998btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-10 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00032748btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-09 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00033231btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-08 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00032647btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-07 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00031658btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-06 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00030993btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-05 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00031498btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-04 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00031362btc合人民币19.05元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-03 电费19.05元 电价0.5元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00033043btc合人民币19.05元</small>
                                </div>
                            </li>

                        </ul>
                        <a id="btnMore" href="javascript:more();" class="btn btn-sm success text-u-c m-y-sm" style="margin-left: 20px;">更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>