<!-- <div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">我的首页</h1>
    </div>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;">
                <i class="demo-pli-home"></i>
            </a>
        </li>
        <li class="active">我的首页</li>
    </ol>
</div> -->

<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">W&nbsp;&nbsp;S9 0531</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 1966 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-fw accent" >购买</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">V&nbsp;&nbsp;S90520</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 0 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">L06&nbsp;&nbsp;L30421</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 1966 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eq-height">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">W&nbsp;&nbsp;S9 0530</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 0 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">V&nbsp;&nbsp;S90520</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 0 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">L06&nbsp;&nbsp;L30421</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 1966 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eq-height">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">W&nbsp;&nbsp;S9 0530</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 0 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">V&nbsp;&nbsp;S90520</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 0 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">L06&nbsp;&nbsp;L30421</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 1966 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eq-height">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">W&nbsp;&nbsp;S9 0530</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 0 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">V&nbsp;&nbsp;S90520</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 0 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">L06&nbsp;&nbsp;L30421</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 1966 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eq-height">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">W&nbsp;&nbsp;S9 0530</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 0 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">V&nbsp;&nbsp;S90520</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 0 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">L06&nbsp;&nbsp;L30421</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 1966 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eq-height">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">W&nbsp;&nbsp;S9 0530</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 0 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">V&nbsp;&nbsp;S90520</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 0 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">L06&nbsp;&nbsp;L30421</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 1966 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eq-height">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">W&nbsp;&nbsp;S9 0530</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 0 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">V&nbsp;&nbsp;S90520</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 0 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <small class="panel-title-date">2018-05-18</small>
                        <div class="m-b h-2x">
                            <a href="" class="_800">L06&nbsp;&nbsp;L30421</a>
                            <a href="javascript:void 0">&nbsp;&nbsp;
                                <i class="fa fa-leaf"></i> 剩余 1966 台</a>
                        </div>
                        <p class="h-3x" style="height: 2.5375rem;">项目简介</p>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <button class="btn btn-outline b-accent text-accent">已售罄</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>