<!-- <div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">我的首页</h1>
    </div>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;">
                <i class="demo-pli-home"></i>
            </a>
        </li>
        <li class="active">我的首页</li>
    </ol>
</div> -->

<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">银行打款</h3>
                    </div>
                    <div class="panel-body">
                        <p class="text-muted">银行名称: 招商银行上海分行徐家汇支行
                            <br>卡持有人: 江卓尔
                            <br>银行卡号: 6225882118450912
                            <br>备注说明: 转账时请附言“订单号”，例如：0098765543
                            <br>
                            <br>打款后麻烦发个截图，方便我们核对。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eq-height">
            <div class="col-md-4">
                <div class="panel" style="border-top: 6px solid #0cc2aa;">
                    <div class="panel-body">
                        <ul class="list b-t b-b m-a-0 no-radius">
                            <li class="list-item">
                                <div class="list-body">
                                    批&nbsp;&nbsp;次&nbsp;&nbsp;号: &nbsp;&nbsp;
                                    <b>G S90930</b>
                                </div>
                            </li>
                            <li class="list-item">
                                <div class="list-body">
                                    订&nbsp;&nbsp;单&nbsp;&nbsp;号: &nbsp;&nbsp;
                                    <b>00018112885831</b>
                                </div>
                            </li>
                            <li class="list-item">
                                <div class="list-body">
                                    型&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号: &nbsp;&nbsp;
                                    <b>S9</b>
                                </div>
                            </li>
                            <li class="list-item">
                                <div class="list-body">
                                    台&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数: &nbsp;&nbsp;
                                    <b>1</b>
                                </div>
                            </li>

                            <li class="list-item">
                                <div class="list-body">
                                    下单日期: &nbsp;&nbsp;
                                    <b>2017-12-10 14:03</b>
                                </div>
                            </li>
                            <li class="list-item">
                                <div class="list-body">
                                    总&nbsp;&nbsp;付&nbsp;&nbsp;款: &nbsp;&nbsp;
                                    <b>9000 元</b>
                                </div>
                            </li>
                            <li class="list-item">
                                <div class="list-body">
                                    优&nbsp;&nbsp;惠&nbsp;&nbsp;券: &nbsp;&nbsp;
                                    <b>--</b>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-outline rounded b-primary text-primary">已付款</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>