<!-- <div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">我的首页</h1>
    </div>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;">
                <i class="demo-pli-home"></i>
            </a>
        </li>
        <li class="active">我的首页</li>
    </ol>
</div> -->

<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div style="width:230px;float:left;">
                            <el-date-picker></el-date-picker>
                        </div>
                        <div style="width:30px;float:left;padding-top: 10px;">
                            至
                        </div>

                        <div style="width:230px;float:left;">
                            <el-date-picker></el-date-picker>
                        </div>
                        <div style="width:230px;float:left;">
                            <button type="button" class="btn white">查找</button>
                            <button type="button" class="btn white">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <ul class="list-group inset m-a-0" id="listBox">
                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-22 &nbsp;&nbsp;6.85元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00013078btc合人民币6.85元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-21 &nbsp;&nbsp;6.92元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00012987btc合人民币6.92元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-20 &nbsp;&nbsp;6.52元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00012672btc合人民币6.52元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-19 &nbsp;&nbsp;6.77元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00013150btc合人民币6.77元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-18 &nbsp;&nbsp;6.44元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00012813btc合人民币6.44元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-17 &nbsp;&nbsp;6.62元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00012725btc合人民币6.62元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-16 &nbsp;&nbsp;6.91元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00013066btc合人民币6.91元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-15 &nbsp;&nbsp;7.15元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00013269btc合人民币7.15元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-14 &nbsp;&nbsp;7.01元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00013012btc合人民币7.01元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-13 &nbsp;&nbsp;6.69元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00012722btc合人民币6.69元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-12 &nbsp;&nbsp;6.80元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00013016btc合人民币6.80元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-11 &nbsp;&nbsp;7.95元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00014182btc合人民币7.95元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-10 &nbsp;&nbsp;8.49元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00014593btc合人民币8.49元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-09 &nbsp;&nbsp;8.33元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00014530btc合人民币8.33元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-08 &nbsp;&nbsp;8.78元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00015045btc合人民币8.78元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-07 &nbsp;&nbsp;9.08元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00015092btc合人民币9.08元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-06 &nbsp;&nbsp;9.36元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00015229btc合人民币9.36元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-05 &nbsp;&nbsp;9.22元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00015238btc合人民币9.22元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-04 &nbsp;&nbsp;9.28元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00015270btc合人民币9.28元</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-03 &nbsp;&nbsp;8.48元</a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00014710btc合人民币8.48元</small>
                                </div>
                            </li>

                        </ul>
                        <a id="btnMore" href="javascript:more();" class="btn btn-sm success text-u-c m-y-sm" style="margin-left: 20px;">更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>