<!-- <div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">我的首页</h1>
    </div>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;">
                <i class="demo-pli-home"></i>
            </a>
        </li>
        <li class="active">我的首页</li>
    </ol>
</div> -->

<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div style="width:230px;float:left;">
                            <el-date-picker></el-date-picker>
                        </div>
                        <div style="width:30px;float:left;padding-top: 10px;">
                            至
                        </div>

                        <div style="width:230px;float:left;">
                            <el-date-picker></el-date-picker>
                        </div>
                        <div style="width:230px;float:left;">
                            <button type="button" class="btn white" >查找</button>
                            <button type="button" class="btn white" >重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <ul class="list-group inset m-a-0" id="listBox">
                            <li class="list-group-item b-l-primary">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-22 BTC 0.00030515 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00030515btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-warning">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-21 BTC 0.00030303 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00030303btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-success">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-20 BTC 0.00029569 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00029569btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-info">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-19 BTC 0.00030684 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00030684btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-danger">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-18 BTC 0.00029898 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00029898btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-primary">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-17 BTC 0.00029691 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00029691btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-warning">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-16 BTC 0.00030488 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00030488btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-success">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-15 BTC 0.00030960 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00030960btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-info">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-14 BTC 0.00030362 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00030362btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-danger">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-13 BTC 0.00029684 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00029684btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-primary">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-12 BTC 0.00030371 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00030371btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-warning">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-11 BTC 0.00033091 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00033091btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-success">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-10 BTC 0.00034050 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00034050btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-info">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-09 BTC 0.00033904 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00033904btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-danger">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-08 BTC 0.00035105 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00035105btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-primary">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-07 BTC 0.00035214 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00035214btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-warning">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-06 BTC 0.00035534 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00035534btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-success">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-05 BTC 0.00035555 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00035555btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-info">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-04 BTC 0.00035630 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00035630btc</small>
                                </div>
                            </li>


                            <li class="list-group-item b-l-danger">
                                <div class="list-body">
                                    <div>
                                        <a href="javascript:void 0">2018-05-03 BTC 0.00034324 &nbsp;
                                        </a>
                                    </div>
                                    <small class="text-muted text-ellipsis">
                                        <br>G：0.00034324btc</small>
                                </div>
                            </li>

                        </ul>
                        <a id="btnMore" href="javascript:more();" class="btn btn-sm success text-u-c m-y-sm" style="margin-left: 20px;">更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>