<!-- <div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">我的首页</h1>
    </div>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;">
                <i class="demo-pli-home"></i>
            </a>
        </li>
        <li class="active">我的首页</li>
    </ol>
</div> -->

<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="box p-a">
                    <div class="pull-left m-r">
                        <span class="w-48 rounded  accent">
                            600
                        </span>
                    </div>
                    <div class="clear">
                        <h4 class="m-a-0 text-lg _300">
                            <a href=""> 
                                <span class="text-sm">蚂蚁优惠券 1张</span>
                            </a>

                        </h4>
                        <small class="text-muted">有效期至 2018-06-01
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>